
@media(min-width:576px){






}


@media(min-width:768px){
    .navbar-nav li {
        background: transparent;
        border: none;
        border-bottom: 2px solid transparent;
        transition: 0.5s linear;
    }   

    .navbar-nav li:last-of-type {
        border-bottom: 2px solid transparent;
    }

    .navbar-nav li:hover,
    .navbar-nav li.active {
        background: transparent;
        border-bottom: 2px solid #f7cc4b;
    }

    .navbar-nav li a.nav-link {
        transition: 0.5s linear;
        color: #fff !important;
    }

    .navbar-nav li:hover a.nav-link,
    .navbar-nav li.active a.nav-link{
        color: #fff !important;
    }

    #main-menu {
        margin: 0;
    }

    .navbar-brand {
        max-width: 130px;
    }

    .hello h2 {
        font-size: 60px;
    }




}


@media(min-width:992px){

    html{
        font-size: 16px;
    }

    .navbar-brand {
        max-width: 250px;
    }

    .navbar-nav li a {
        padding: 8px 15px !important;
    }
    
    .hello {
        padding: 300px 0;
    }
    
    .hello:after {
        height: 150px;
    }
    
    .custom-padding {
        padding: 100px 0 !important;
    }
}





@media(min-width:1200px){
    .hello h2 {
        font-size: 82px;
    }




}