
html{
    font-size: 14px;
}

img{
    max-width: 100%;
}

body {
    color: #b1b1b1;
    font-family: 'Roboto';
    font-weight: 400;
}

a {
    text-decoration: none;
}

.navbar-brand {
    max-width: 50%;
}

.navbar-light .navbar-toggler {
    border-color: #F7CC4B;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 204, 75, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav li {
    background: #fff;
    border: 1px solid #F7CC4B;
    text-align: center;
    transition: 0.5s linear;
}   

.navbar-nav li:last-of-type {
    border-bottom: none;
}


.navbar-nav li:hover,
.navbar-nav li.active {
    background: #F7CC4B;
}

.navbar-nav li a.nav-link {
    text-transform: uppercase;
    color: #000 !important;
    font-family: 'PT Sans', sans-serif; 
    transition: 0.5s linear;
}

.navbar-nav li:hover a.nav-link,
.navbar-nav li.active a.nav-link{
    color: #fff !important;
}

#main-menu {
    margin: 0 -15px;
}