
html{
    font-size: 14px;
}

img{
    max-width: 100%;
}

body {
    color: #b1b1b1;
    font-family: 'Roboto';
    font-weight: 400;
}

a {
    text-decoration: none;
}

.navbar-brand {
    max-width: 50%;
}

.navbar-light .navbar-toggler {
    border-color: #F7CC4B;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 204, 75, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav li {
    background: #fff;
    border: 1px solid #F7CC4B;
    text-align: center;
    transition: 0.5s linear;
}   

.navbar-nav li:last-of-type {
    border-bottom: none;
}


.navbar-nav li:hover,
.navbar-nav li.active {
    background: #F7CC4B;
}

.navbar-nav li a.nav-link {
    text-transform: uppercase;
    color: #000 !important;
    font-family: 'PT Sans', sans-serif; 
    transition: 0.5s linear;
}

.navbar-nav li:hover a.nav-link,
.navbar-nav li.active a.nav-link{
    color: #fff !important;
}

#main-menu {
    margin: 0 -15px;
}

.hello {
    padding: 200px 0;
    background-size: cover;
    background-size: center;
}

.hello h2 {
    font-family: 'PT Sans', sans-serif; 
    font-size: 40px;
}

.hello:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: url(assets/bottom-right.png) no-repeat bottom center;
    background-size: 100% 100%;
}

.text-warning {
    color: #F7CC4B !important;
}

.bg-warning {
    background: #F7CC4B !important;
}

.btn-outline-warning {
    color: #F7CC4B;
    border-color: #F7CC4B;
}

.btn-outline-warning:hover {
    color: #fff;
    background-color: #F7CC4B;
    border-color: #F7CC4B;

}

.about h2 {
    color: #222;
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
}

.section-title {
    font-weight: 100;
    font-size: 40px;
}

.pseudo-padding {
    padding: 150px 0;
}

.video-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.video:before,
.parallax:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(assets/top-left.png) no-repeat top center;
    background-size: 100% 100%;
}

.video:after,
.parallax:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(assets/bottom-right.png) no-repeat top center;
    background-size: 100% 100%;
}

.team figure {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
}

.team figure .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F7CC4B;
    display: none;
    transition: 0.5s linear;
 
}

.team figure:hover .hover {
    display: block;
}

.team .hover nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.team .hover nav .fa {
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    border: 1px solid #fff;
    margin: 0 5px;
    text-decoration: none;
    transition: 0.5s linear;
    
}

.team .hover nav .fa:hover {
    background: #fff;
    color: #F7CC4B;
}

.team .team-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem !important; 
}

.parallax {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.parallax:before {
    background: url(assets/top-right.png) no-repeat top center;
    background-size: 100% 100%;
}

.parallax:after {
    background: url(assets/bottom-left.png) no-repeat top center;
    background-size: 100% 100%;
}
