/*---------------------------------------
---------------GENERAL STYLE-------------
---------------------------------------*/

html{
    font-size: 14px;
}

img{
    max-width: 100%;
}

body{
    color:#b1b1b1;
    font-family: 'Roboto';
    font-weight: 400;
    position: relative;
}

a, a:hover{
    text-decoration: none;
}



.header-active{
    background: rgba(0,0,0,0.8);

}

header{
    transition: 0.5s linear;
}

/*---------------------------------------
---------------HEADER STYLE--------------
---------------------------------------*/

.navbar-brand{
    max-width: 50%;
}

.navbar-nav li{
    background: #fff;
    border-bottom: 1px solid #f7cc4b;
    text-align: center;
    transition: 0.5s linear;
}

.navbar-nav li:last-of-type{
    border-bottom: none;
}

.navbar-nav li:hover a,
.navbar-nav li a.active{
    background: #f7cc4b
}

.navbar-nav li a.nav-link{
    text-transform: uppercase;
    color:#000 !important;
    font-family: 'PT Sans';
    transition: 0.5s linear;
}

.navbar-nav li:hover a.nav-link,
.navbar-nav li a.active{
    color:#fff !important;
}

#main-menu{
    margin: 0 -15px;
}

/*---------------------------------------
-----------Hamburger spin start----------
---------------------------------------*/
.hamburger {
    padding: 15px 0;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.8;
}

.hamburger.is-active:hover {
    opacity: 0.8;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #f7cc4b;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 33px;
    height: 3px;
    background-color: #f7cc4b;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--slider .hamburger-inner {
    top: 2px; 
}
.hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; 
}

.hamburger--slider .hamburger-inner::after {
    top: 20px; 
}
  
.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg); 
}
.hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; 
}

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg); 
}

/*---------------------------------------
----------Hamburger spin end-------------
----------------------------------------*/

/*---------------------------------------
---------------MAIN STYLE---------------
---------------------------------------*/

.hello{
    padding: 200px 0;
    background-size: cover;
    background-position: center center;
    
}

.hello h2{
    font-family: 'PT Sans';
    font-size: 40px !important;
}

.lead-slider-wrapper{
    position: relative;
}
.lead-slider-wrapper:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: url('assets/bottom-right.png') no-repeat bottom center;
    background-size: 100% 100%;
    z-index: 10;
}


.lead-slider-wrapper .owl-dots{
    position: absolute;
    bottom: 120px;
    width: 100%;
    left: 0;
}

.lead-slider-wrapper .owl-carousel .owl-dots .owl-dot.active span,
.lead-slider-wrapper .owl-carousel .owl-dots .owl-dot:hover span {
      background: #fff; }

.text-warning{
    color:#f7cc4b !important;
}

.bg-warning{
    background-color: #f7cc4b !important;
}

.about h2{
    color:#222;
    font-family: 'PT Sans';
    font-size: 40px;
}

.section-title{
    font-weight: 100;
    font-size: 40px;
}

.pseudo{
    padding: 150px 0;
}

.video-wrapper{
    max-width: 800px;
    margin: auto;
}

.video:before,
.portfolio:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url( assets/top-left.png) no-repeat center center;
    background-size: 100% 100%;
    display: block;
        
}

.video:after,
.portfolio:after{
    content: '';
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url( assets/bottom-right.png) no-repeat center center;
    background-size: 100% 100%;
    display: block;
        
}
.team .owl-dots{
    position: relative;
    top:30px;
}
.team figure{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
}
.team figure .hover{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f7cc4b;
    display: none;
    
}

.team figure:hover .hover{
    display: block;
}

.team .hover nav{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
}

.team .hover nav .fa{
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 30px;
    color: #fff;
    border:1px solid #fff;
    border-radius: 50%;
    margin: 0 5px;
    text-decoration: none;
}

.team .hover nav .fa:hover{
    background: #fff;
    color:#f7cc4b
}


.team .team-title{
    font-size: 1.5rem;
    margin-bottom: 0.5rem !important;
}


.parallax{
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.parallax-wrapper{
    max-width: 600px;
    margin: 0 auto;
}

.parallax:before,
.parallax:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    display: block;
    background-size: 100% 100% !important;
}
.parallax:before{
    top:0;
    background: url(assets/top-right.png) no-repeat;
}
.parallax:after{
    bottom: 0;
    background: url('assets/bottom-left.png') no-repeat;
}



.portfolio .owl-dots{
    position: relative;
    top:30px;
}
.portfolio .hover{
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #101010;
    background: rgba(255,255,255,0.5);
    font-size: 20px;
    border-radius: 50%;
    overflow: hidden;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.portfolio figure:hover .hover{
    display: block;
}


.achievements .fa{
    font-size: 100px;
    color:#000;
    
}

.achievements .achievements-value{
    font-size: 84px;
    letter-spacing: -2.5px;
}

.testimonials .owl-dots{
    position: relative;
    top:50px;
        
}

.testimonials-item{
    max-width: 90%;
    margin: auto;
}

.testimonials .testimonials-item p{
    color:#000;
    font-size: 20px;
}

.testimonials .testimonials-item .blockquote-footer{
    font-size: 1rem;
    color:#bbb;
}



.subscribe:before{
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('assets/top-right.png') no-repeat;
    background-size: 100% 100%;
}

.subscribe .subscribe-form .form-control{
    border-radius: 0;
    background: transparent;
    border:2px solid #fff;
    color:#fff;
}

.subscribe .subscribe-form .form-control:focus{
    box-shadow: 0 0 5px #fff;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

/*---------------------------------------
---------------FOOTER STYLE---------------
---------------------------------------*/

.main-footer .social .fa{
    width: 48px;
    height: 48px;
    line-height: 48px;
    color: #fff;
    border:2px solid #fff;
    border-radius: 50%;
    font-size: 28px;
    transition: 0.5s linear;
}

.main-footer .social .fa:hover{
    background: #f7cc4b;
    border:2px solid #f7cc4b;
}